{% extends "base.html" %}

{% block title %} Date Select {% endblock %}

{% block bar %} View All Data That Was Read in on the Same Day {% endblock %}

{% block content %}


<form method="POST" action="/process_date">
    
    <h3>Date Select</h3>

    <div class="form-group enter-day">
        <label for="datepicker">Enter a Date: </label>
        <input type="text" id="datepicker" name="datepicker" class="form-control">
    </div>

    <button type="submit" id="sendDateBtn" class="btn btn-primary">Submit</button>

    </div>

</form>

{% endblock %}

