{% extends "base.html" %}

{% block title %} Date Select {% endblock %}

{% block bar %} View All Data That Was Read in on the Same Day {% endblock %}

{% block content %}

<h3>Date Select</h3>

<form method="POST" action="/process_date">
    <div class="col-md-6">
        <label for="datetpicker">Enter a Date: </label>
        <input type="date" id="datepicker" name="datepicker" class="form-control" style = "margin-bottom: 20px" required>
    </div>

    <div class="row mt-3"> 
        <div class="col-md-6">
            <button type="submit" id="sendDateBtn" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<style>
   

    #sendDateBtn {
        max-width: 150px; 
    }

    .form-control {
      width: 210px; 
  }

</style>


{% endblock %}
