{% extends "base.html" %}

{% block content %}
<form method="POST" action="/process_date">
    <div class="row">
        <div class="col-md-6">
            <label for="datepicker">Select a Date</label>
            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" name="datepicker" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-3"> <!-- Add margin top for spacing -->
        <div class="col-md-6">
            <button type="submit" id="sendDateBtn" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
