{% extends "base.html" %}

{% block title %} Specific Time {% endblock %}

{% block bar %} View All Data Read in at a Specific Moment in Time {% endblock %}

{% block content %}

<h3>Time Select</h3>
<form method="POST" action="/process_exacttime">
  <div class="row">


    <div class="col-md-6">

    <label for="datetimepicker">Date and Time: </label>
    <input type="date" id="datetimepicker" name="datetimepicker" class="form-control" style = "margin-bottom: 20px" required>
    </div>

    <br>

    <div class="form-group">
      <div class="form-group">
        <label for="secondInput">Enter a Second Value:</label>
        <input type="number" class="form-control" id="secondInput" name="secondInput" min="0" max="59" required>
        <div class="invalid-feedback">Please enter an integer between 0 and 59.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="miliInput">Enter a Millisecond Value:</label>
        <input type="number" class="form-control" id="miliInput" name="miliInput" min="0" max="999" required>
        <div class="invalid-feedback">Please enter an integer between 0 and 999.</div>
      </div>
    </div>
  </div>
  
  <br>
  <button type="submit" id="sendDateTimeBtn" class="btn btn-primary">Submit</button>
</form>

<style>
   

  #sendDateTimeBtn {
      max-width: 150px; 
  }

  .form-control {
      width: 210px; 
  }
</style>
{% endblock %}
