{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="/results" class="btn btn-primary btn-block mb-3">View All Data</a>
    </div>
    <div class="col-md-6">
      <a href="/dateselect" class="btn btn-primary btn-block mb-3">View All Data That Was Read in on the Same Day</a>
    </div>
    <div class="col-md-6">
      <a href="/exacttime" class="btn btn-primary btn-block mb-3">View All Data Read in at a Specific Moment in Time</a>
    </div>
    <div class="col-md-6">
      <a href="/timerange" class="btn btn-primary btn-block mb-3">View All Data Read in During a Range of Time</a>
    </div>
    <div class="col-md-6">
      <a href="/voltage" class="btn btn-primary btn-block mb-3">View All Documents With a Given Voltage</a>
    </div>
    <div class="col-md-6">
      <a href="/voltagerange" class="btn btn-primary btn-block mb-3">View All Documents With a Specified Range of Voltages</a>
    </div>
  </div>
</div>


{% endblock %}

