{% extends "base.html" %}

{% block title %} Time Range {% endblock %}

{% block bar %} View All Data That Was Read During a Range of Time{% endblock %}

{% block content %}

<form method="POST" action="/process_timerange">

    <div class="container timerangeinput">
        <div class="row">

           <h3>Start of Range</h3> 
            
            <div class="col custom-col"> 
                <label for="datetimepicker">Enter a Date and Time:</label> 
                <input type="date" id="datetimepicker" name="datetimepicker" class="form-control" required> 
            </div>
        
            <div class="col custom-col"> 
                <label for="secondInput">Enter a second value:</label> 
                <input type="number" class="form-control" id="secondInput" name="secondInput" min="0" max="59" required> 
                <div class="invalid-feedback">Please enter an integer between 0 and 59.</div> 
            </div>
      
            <div class="col custom-col"> 
                <label for="miliInput">Enter a millisecond value:</label> 
                <input type="number" class="form-control" id="miliInput" name="miliInput" min="0" max="999" required>
                 <div class="invalid-feedback">Please enter an integer between 0 and 999.</div>
            </div>

        </div>
        

        <br>

        <div class="row">

            <h3>End of Range</h3>
             
             <div class="col custom-col"> 
                 <label for="datetimepicker2">Enter a Date and Time:</label> 
                 <input type="date" id="datetimepicker2" name="datetimepicker2" class="form-control" required> 
             </div>
         
             <div class="col custom-col"> 
                 <label for="secondInput2">Enter a second value:</label> 
                 <input type="number" class="form-control" id="secondInput2" name="secondInput2" min="0" max="59" required> 
                 <div class="invalid-feedback">Please enter an integer between 0 and 59.</div> 
             </div>
       
             <div class="col custom-col"> 
                 <label for="miliInput2">Enter a millisecond value:</label> 
                 <input type="number" class="form-control" id="miliInput2" name="miliInput2" min="0" max="999" required>
                  <div class="invalid-feedback">Please enter an integer between 0 and 999.</div>
             </div>
 
         </div>
     
        <br>

        <div class="row">
            <div class="col"> 
                <button type="submit" id="sendDateTimeBtn" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
    </div>  
</form>

{% endblock %}

