{% extends "base.html" %}

{% block title %} Voltage Range {% endblock %}

{% block bar %} View All Documents With a Specified Range of Voltages {% endblock %}

{% block content %}

<form method="POST" action="/findvoltagerange">
    
    <h3>Start of Range</h3>
    <div class="form-group enter-voltage">
        <label for="voltageInput">Enter a voltage:</label>
        <input type="number" class="form-control" id="voltageInput" name="voltageInput" step="any">
        <div class="invalid-feedback">Please enter a number</div>
    </div>
    
    <h3>End of Range</h3>
    <div class="form-group enter-voltage">
        <label for="endvoltageInput">Enter a voltage:</label>
        <input type="number" class="form-control" id="endvoltageInput" name="endvoltageInput" step="any">
        <div class="invalid-feedback">Please enter a number</div>
    </div>
    
    <button type="submit" id="sendVoltage" class="btn btn-primary">Submit</button>
    

{% endblock %}
