{% extends "base.html" %}

{% block content %}

<form method="POST" action="/findvoltagerange">
    
    <h3>Start of Range</h3>
    <div class="form-group">
        <label for="voltageInput">Enter a voltage</label>
        <input type="number" class="form-control" id="voltageInput" name="voltageInput" step="any" required>
        <div class="valid-feedback">Valid input!</div>
        <div class="invalid-feedback">Please enter a number</div>
    </div>

    <h3>End of Range</h3>
    <div class="form-group">
        <label for="endvoltageInput">Enter a voltage</label>
        <input type="number" class="form-control" id="endvoltageInput" name="endvoltageInput" step="any" required>
        <div class="valid-feedback">Valid input!</div>
        <div class="invalid-feedback">Please enter a number</div>
    </div>
  
    <button type="submit" id="sendDateTimeBtn" class="btn btn-primary">Submit</button>
</form>

{% endblock %}


