{% extends "base.html" %}

{% block bar %} View All Documents With a Given Voltage {% endblock %}

{% block content %}

<h3>Voltage Select</h3>

<form method="POST" action="/findvoltage">
    
    <div class="form-group" style = "margin-bottom: 20px">
        <label for="voltageInput">Enter a voltage</label>
        <input type="number" class="form-control" id="voltageInput" name="voltageInput" step="any" required>
        <div class="invalid-feedback">Please enter a number</div>
    </div>
  
    <button type="submit" id="sendVoltage" class="btn btn-primary">Submit</button>
</form>

<style>
   

    #sendVoltage {
        max-width: 150px; 
    }

    .form-control {
        width: 200px; 
    }
</style>

{% endblock %}

