{% extends "base.html" %}

{% block content %}

<form method="POST" action="/findvoltage">
    
    <div class="form-group">
        <label for="integerInput">Enter a voltage</label>
        <input type="number" class="form-control" id="voltageInput" name="voltageInput" step="any" required>
        <div class="valid-feedback">Valid input!</div>
        <div class="invalid-feedback">Please enter a number</div>
    </div>
  
    <button type="submit" id="sendDateTimeBtn" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

